section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

form{
    background-color: black;
    width: 50%;
    height: 55%;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
}

h2{
    color: red;
    font-size: 24px;
    margin-bottom: 20px;
}

input{
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 8px;
    width: 100%;
}

.mensagem{
    height: 100px;
}

button{
    background-color: red;
    color: black;
    padding: 7px 15px;
    border-radius: 20px;
    width: 45%;
}
