main{
    text-align: center;
}

section{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    margin-bottom: 20px;
}

form{
    width: 70%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

input, button {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
}

button{
    background-color: black;
    color: white;
}